@import '../../scss/variables';
@import '../../scss/mixins';
.sensors-list {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  .no-sensors {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .sensor-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $altBtnColor;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: $hoverColor;
    transition: background-color .3s;
    &:hover {
      background-color: $pageBGColor;
    }
  }
  span {
    flex-grow: 1;
  }
  .update-btn {
    @include button($buttonColor, $pageBGColor);
    margin: 0 5px;
  }
  .delete-btn {
    @include button($dangerColor, $pageBGColor);
  }
}
