@import '../../scss/variables';
@import '../../scss/mixins';
.users-list {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  .user-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $altBtnColor;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: $hoverColor;
    transition: background-color .3s;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    &:hover {
      background-color: $pageBGColor;
      
    }
    .info{
      display: block;
    }
    span {
      flex-grow: 1;
    }
  }
}
