@import '../../scss/variables';
@import '../../scss/mixins';
.users-list {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  .user-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $altBtnColor;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: $hoverColor;
    transition: background-color .3s;

    &:hover {
      background-color: $pageBGColor;
    }
    a{
      cursor: pointer;
      text-decoration: none;
      flex-grow: 1;
      color: $textColor;
    }
    .info{
      border-spacing: 1em 0.2em;
    }
    .change-btn {
      @include button($buttonColor, $pageBGColor);
      margin: 0 5px;
    }
    .delete-btn {
      @include button($dangerColor, $pageBGColor);
    }
  }
}
